@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

a{
   text-decoration: none;
   color: black;
}
img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  font-weight: bold;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {  
    list-style-type: none;  
}

.header{
    margin: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.left-links{
    display: flex;
    gap:8px;
    justify-content: flex-start;
}

.right-links{
    gap: 8px;
    display: flex;
    justify-content: flex-end;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin: 16px;
}

.content{
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center 
}
.input{
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: center;
}