body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
}
.header{
    display: flex;
    padding: 20px;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
}
.header-text{
    font-weight: bold;
    color: #f9faf8;
    font-size: 24px;
}
.header-links{
    display: flex;
    justify-content: space-around;
    gap: 8px;
    font-size: 18px;
    color: #E5E7EB;
}
.main-wrapper{
    padding-top: 100px;
    padding-left: 15%;
    display: flex;
    flex: wrap;
    background-color: #1f2937;
    padding-bottom: 35px;
}
.main-text{
    padding-right: 15%;
    display: flex;
    align-items: center;
    font-size: 48px;
    color: #F9FAF8
}
.subtitle{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #E5E7EB;
}

.sign-btn{
    background-color: #3882F6;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    border: none;
    font-weight: bold;
    color: #E5E7EB;
}
.placeh-img{
    display: block;
    height: 200px;
    width: 400px;
}

.second-wrapper{
    display: flex;
    flex-direction: column;
}

.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
}

.info{
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937
}

.image-wrapper > img {
    display: flex;
    height: 100px;
    width: 100px;
    padding: 25px;
}
.image-wrapper{
    width: 150px;
    margin:25px;
}
.info-img-wrapper{
    display: flex;
}

.quote{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#E5E7EB;;
    font-size: 36px;
    font-style: italic;
    height: 200px;
    padding: 200px;
    text-align: center;
}

.end-quote{
    padding: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.cta-wrapper{
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    color:#E5E7EB;
    margin: 5%;
    height: 100px;
}

.sign-btn-two{
    margin-left: 20px;
    background-color: #3882F6;
    border-radius: 5px;
    border-color: #E5E7EB;
    border-style: solid;
    height: 30px;
    width: 100px;
    font-weight: bold;
    color: #E5E7EB;
}

.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #E5E7EB;
    height: 100px;
}